 


 .MdLightMode:hover {
   transform: scale(1.2);
   transition: ease-in-out 0.1s;
}

.MdDarkMode:hover {
   transform: scale(1.2);
   transition: ease-in-out 0.1s;
}
 .navbar-brand img {
     width: 110px;
     height: 30px;
 }

.player:hover {
   color: red !important;
   cursor: pointer;
}

